a:link {
	color: red;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: aquamarine;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: coral;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}
